<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>318934375475-4poti50c10m5odi2qq65j1ncf7jsn9ou.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.318934375475-4poti50c10m5odi2qq65j1ncf7jsn9ou</string>
	<key>API_KEY</key>
	<string>AIzaSyC2rCzIE1T5cj6nPGjdB7emSh1QtU4TJNI</string>
	<key>GCM_SENDER_ID</key>
	<string>318934375475</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.benesseteam4</string>
	<key>PROJECT_ID</key>
	<string>benesseteam4</string>
	<key>STORAGE_BUCKET</key>
	<string>benesseteam4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:318934375475:ios:3dc7339134bfeaf2ce5746</string>
</dict>
</plist>